<h1>CA Brisbane Forum</h1>
<p>Welcome to the Brisbane Coder Academy Forum</p>

<%# media from bootstrap %>
 <% for question in @questions %>
<div class="media">
    <div class="media-left media-middle">
        <a href="#">
        <img class="media-object" src="<%= question.gravatar %>" >
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading"><%= question.email %></h4>
        <div> <%=time_ago_in_words question.created_at %> ago </div>
       <p> <%= question.body%> </p>
        <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
    </div>    
</div>
<% end %>